<%-include('header')-%>



    <div class="box" id="heading">
        <h1>
            <%=kindofday %>
        </h1>
    </div>

    <div class="box">
        <% newtask.forEach(function(item){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" onchange="this.form.submit()" value="<%=item.id%>" name="check">
                    <p>
                        <%=item.task %>
                    </p>
                    <input type="hidden" name="listName" value="<%= kindofday%>">
                </div>
            </form>
            <% }) %>





                <form class="item" action="" method="post">

                    <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
                    <button type="submit" name="list" value="<%= kindofday %>">+</button>


                </form>

    </div>








    <%-include('footer')-%>